<h1>Let's Create a New Post</h1>

<form action='create_post' method='post' >
  <input type='text' name='post[title]' placeholder='Title'>
  <br><br>
  <input type='text' name='post[poster_name]' placeholder='Poster Name'>
  <br><br>
  <textarea name='post[content]' cols='35' rows='8' placeholder='Content'></textarea>
  <br><br>
  <input type='submit' value="Create Post!">
</form>

