<div class="container">
  <h1>Welcome to RowlandBoard!</h1>
  <h2>All Posts Listed Below:</h2>
  <br>
  <a href='/create_post'>Create a new Post</a>
  <br><br>
  <% if @post.empty? %>
    <p>There are no posts :(</p>
  <% else %>
    <% @post.each do |post| %>
      <div id='post_display'>
        <a href="/post/<%=post.id%>"><%= post.title %></a><br>
        Posted By:  
        <p id='index_poster_name'><%= post.poster_name %><p>
      </div>
    <% end %>
  <% end %>
</div>
